*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Page container*/

#page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
    width: 100%;
}

/* Header container*/

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-title {
    font-size: 40px;
    font-weight: bold;
}

/* Main container*/

#main-container {
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

#add-book-button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    align-self: center;
}

#add-book-button-dialog {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
    width: 250px;
    height: 350px;
    padding: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#form-buttons {
    display: flex;
    justify-content: space-around;
}

#form-buttons > button {
    height: 30px;
    width: 100px;
}

.form-entry {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#book-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    gap: 30px;
}

.book-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.377);
}

.book-item-title {
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.book-item-buttons > button {
    height: 25px;
    width: 100px;
    background-color: rgb(245, 244, 244);
    border-radius: 0.5rem;
}

.book-item-buttons {
    display: flex;
    gap: 10px;
    font-weight: 800;
}
